.easy{
  padding: 50px 80px;
  height: 800px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &_title{
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
     h2{
       font-size: 32px;
     }
     h3{
       color: rgb(176, 190, 197);
     }
     span{
       font-size: 15px;
       font-family: "Raleway";
       color: rgb(176, 190, 197);
       line-height: 1.667;
       text-align: center;
       width: 555px;
       //height: 61px;
     }
    //

  }
  &_blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &_item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex-basis: 350px;
      h4{
        margin-top: 30px;
      }
      span{
        margin-top: 10px;
        color: rgb(176, 190, 197);
        text-align: center;
      }
    }
    .item1{
      img{
        content: url("../../img/main_easy/note.png");
      }
    }
    .item2{
      img{
        content: url("../../img/main_easy/man.png");
      }
    }
    .item3{
       img{
         content: url("../../img/main_easy/worker.png");
       }
     }

  }
  &_buttons{
    display: flex;
    justify-content: center;
    .getStarted{
      color: white;
      text-transform: uppercase;
      border-radius: 5px;
      background-color: rgb(29, 233, 182);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
      width: 150px;
      height: 55px;
    }
    .getStarted:hover{
      color:black;
    }
  }
}