* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0; }

.header-box-slider {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: url(./img/header_photo.jpg) no-repeat center/cover;
  height: 62vw; }
  .header-box-slider__title {
    font-size: 60px;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    padding: 20px 0;
    border-left: none;
    border-right: none;
    margin-bottom: 50px;
    font-weight: 600; }
  .header-box-slider__buttom {
    font-size: 18px;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 20px 35px;
    text-transform: uppercase;
    color: #ffffff; }

.header-box-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #252e30;
  text-transform: uppercase;
  color: #ffffff;
  height: 70px; }
  .header-box-nav__name {
    display: flex;
    flex-flow: wrap;
    align-items: center; }
    .header-box-nav__name span {
      border: 1px solid #4b5456;
      background: #4b5456;
      padding: 10px;
      margin-right: 18px; }
    .header-box-nav__name .name_logo:last-child {
      color: #2ecc71; }
  .header-box-nav .header-box-menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none; }
    .header-box-nav .header-box-menu__link {
      text-decoration: none;
      color: #ffffff;
      padding-right: 40px; }
    .header-box-nav .header-box-menu li:last-child a {
      padding-right: 0; }
    .header-box-nav .header-box-menu li :hover {
      color: #2ecc71; }

.header-box-burgerMenu {
  display: none; }

.info {
  display: flex;
  justify-content: space-evenly;
  padding: 97px 0; }
  .info .info-block {
    max-width: 370px;
    flex-basis: 33.3%; }
    .info .info-block__title {
      text-transform: uppercase;
      font-size: 30px;
      color: #566366; }
    .info .info-block__content {
      font-size: 18px;
      color: #919191; }

.aboutMe {
  display: flex; }
  .aboutMe__photo {
    background: url(./img/aboutMe_photo.jpg) no-repeat;
    width: 100%;
    height: 755px;
    display: flex;
    flex-basis: 37%; }
  .aboutMe__info {
    display: flex;
    flex-basis: 63%;
    flex-flow: column;
    justify-content: space-evenly;
    background: #f2f2f1;
    padding-left: 95px; }
    .aboutMe__info_title {
      color: #566366;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 600; }
    .aboutMe__info_content {
      color: #919191;
      font-size: 18px;
      line-height: 30px; }
    .aboutMe__info .aboutMe-categories {
      display: flex;
      flex-wrap: wrap; }
      .aboutMe__info .aboutMe-categories_name {
        flex-basis: 50%;
        display: flex;
        margin-bottom: 55px; }
        .aboutMe__info .aboutMe-categories_name > div:last-child {
          display: flex;
          flex-direction: column;
          margin-left: 20px; }
      .aboutMe__info .aboutMe-categories__title {
        text-transform: uppercase;
        color: #566366;
        font-size: 22px;
        font-weight: 600; }
      .aboutMe__info .aboutMe-categories .img {
        height: 50px;
        width: 40px;
        flex-basis: 20%; }
      .aboutMe__info .aboutMe-categories__subtitle {
        color: #919191;
        font-size: 18px; }

@media (max-width: 1200px) {
  .wrapper {
    max-width: 1140px; } }
@media (max-width: 992px) {
  .wrapper {
    max-width: 960px; }

  .info {
    flex-direction: column;
    align-items: center; }
    .info .info-block__title {
      text-align: center; }

  .aboutMe {
    flex-flow: row wrap; }
    .aboutMe__photo {
      flex-basis: 100%; }
    .aboutMe__info {
      flex-basis: 100%; }
    .aboutMe__info_title {
      text-align: center; } }
@media (max-width: 934px) {
  .wrapper {
    max-width: 900px; }

  .header-box-slider__title {
    font-size: 45px; }

  .header-box-nav .header-box-menu {
    display: none; }

  .header-box-burgerMenu {
    align-items: center;
    background-color: #252e30;
    height: 43px;
    width: 58px;
    padding: 0 0 5px 8px;
    border-radius: 2px;
    display: flex; }
    .header-box-burgerMenu__burger {
      display: inline-flex;
      height: 30px;
      width: 40px;
      flex-direction: column;
      justify-content: space-between;
      background-color: #ffffff; }
      .header-box-burgerMenu__burger span {
        background-color: #252e30;
        height: 4px; } }
@media (max-width: 768px) {
  .wrapper {
    max-width: 720px; }

  .aboutMe-categories {
    flex-flow: column wrap;
    margin-top: 15px; } }
/*.aboutMe{
    color: white;

    &__photo{
        color: white;
    }
    &__info{
        color: white;
        .content{
            color: white;
        }
        .categories{
            color: white;
            .categories_webDesign{
                color: white;
            }
            &_dfdfdfdsDesign{
                color: white;
            }
            &_dfdfdfdsDesign{
                color: white;
                .title{
                    color: white;
                }
                .sub{
                    color: white;
                }
            }
            &_webDesign{
                color: white;
            }
        }
    }
}
*/

/*# sourceMappingURL=style.css.map */
