@font-face {
	font-family: 'Conv_ofont.ru_Myriad Pro';
	src: url('fonts/ofont.ru_Myriad Pro.eot');
	src: local('☺'), url('fonts/ofont.ru_Myriad Pro.woff') format('woff'), url('fonts/ofont.ru_Myriad Pro.ttf') format('truetype'), url('fonts/ofont.ru_Myriad Pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
    font-family: "Myriad Pro";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1366px;
    margin: 0 auto;

}

.menu{
    padding: 25px 54px 50px  54px;
}

.nav_link{
    text-decoration: none;
    text-transform: uppercase;
    color: #949494;
    font-size: 14.92px;
    font-family: "Myriad Pro";
}
.header,
.main{
    color: #cbcccd;
    background: #fcfcfc;
}

.title{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #5b5b5b;
    font-size: 34.44px;
    padding-bottom: 55px;
}

.recipes_list{
    display: flex;
    border: 2px solid #f2f2f2;
 
}

.info{
display: flex;
flex-direction: column;
}

.photo>img{
    position: absolute;
    height: 100%;
}

.my_profil{
    position: absolute;
    left: 15px;
    bottom: 10px;
    text-decoration: none;
  
}
.my_profil>img{
border-radius: 50%;
}


.photo,
.info{
    display: flex;
    flex-basis: 50%;
    background: #ffffff;
    position: relative;
}



.info_title{
    display: flex;
    justify-content: center;
    color: #3d3d3d;
    font-size: 24px;
    line-height: 27.55px;

}

.info_icon{
    display: flex;
    justify-content: space-around;

}
.icon1,
.icon2,
.icon3{
    display: flex;
    flex-direction: row; 
    border: 2px solid #cbcccd;
    padding: 6px 0 6px 6px;
    border-radius: 50px;
    min-width: 100px;
}

.clock,
.hat,
.calories{
width: 20px;
height: 20px;
}

.clock,
.time,
.hat,
.level,
.calories,
.run{
   display: flex;
   color: #b5904e;
   font-size: 14px;
 


}
.time,
.level,
.run{
    padding-right: 6px;
    padding-left: 12px;
}

.info_text{
    display: flex;
    color: #5b5b5b;
    font-size: 16px;
    line-height: 18.73px;
    padding-bottom: 15px;
    padding-top: 20px;
    border-bottom: 2px solid #cbcccd;
}

.social_network{
    display: flex;
    justify-content: space-around;
}

.social_network{
    padding-top: 12px;
}

.like{
    display: flex;
    padding-right: 13px;
}


.social{
    display: flex;
}

.social_item_vk,
.social_item_facebook,
.social_item_odnoklassniki{
    display: flex;
    justify-content: space-around;
}

.social_item_vk{
    width: 24px;
    height: 17px;
}

.social_item_facebook{
    width: 10px;
    height: 17px;
}

.social_item_odnoklassniki{
    width: 10px;
    height: 17px;
}

.social_item_facebook{
    padding: 0 23px;
}